header {
    background-color: #c1bdbd;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
    padding: 20px 0;    
  }

  .navbar-nav .nav-item .dropdown-menu {
position: absolute;
z-index: 999;
min-width: 10rem;
background-color: #fff;
box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
border: none;
border-radius: 0.25rem;
opacity: 0;
transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
}

.navbar-nav .nav-item:hover .dropdown-menu {
opacity: 1;
visibility: visible;

}
/* .navbar-brand{
font-size: 35px;
font-weight: 500;
}
.navbar-nav {
font-size: 35px;
font-weight:500;
} */
.dropdown-item {
color: #000;
padding: 0.5rem 1rem;
text-decoration: none;
display: block;
text-align: left;
transition: all 0.3s ease-in-out;

}

.dropdown-item:hover, .dropdown-item:focus {
background-color: #f1f1f1;
color: #9d8686;
text-decoration: none;
}

.box-center{
    text-align: center;
}
.text_box_right{
    display: flex;
   justify-content: space-between;
}
hr{
    border-top: 1px dashed red;
  }
.box_2{
    margin-bottom: 10px;
}
.box_text{
    font-size: 15px;
}
i{
    padding: 0 10px;
}
 
